controller_manager:
  ros__parameters:
    update_rate: 30  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    diffbot_base_controller:
      type: diff_drive_controller/DiffDriveController

# ros2 launch teleop_twist_joy teleop-launch.py joy_config:='xbox' joy_vel:=/diffbot_base_controller/cmd_vel_unstamped
diffbot_base_controller:
  ros__parameters:
    left_wheel_names: ["left_wheel_joint"]
    right_wheel_names: ["right_wheel_joint"]

    wheel_separation: 0.23
    #wheels_per_side: 1  # actually 2, but both are controlled by 1 signal
    wheel_radius: 0.05

    wheel_separation_multiplier: 1.0
    left_wheel_radius_multiplier: 1.0
    right_wheel_radius_multiplier: 1.0

    publish_rate: 50.0
    odom_frame_id: odom
    base_frame_id: base_link
    pose_covariance_diagonal : [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]

    open_loop: true # This needs to be set to "true" otherwise there is issues in Rviz2
    enable_odom_tf: true

    cmd_vel_timeout: 0.5
    # publish_limited_velocity: true
    use_stamped_vel: false
    # velocity_rolling_window_size: 10

    # Velocity and acceleration limits
    # Whenever a min_* is unspecified, default to -max_*
    linear.x.has_velocity_limits: true
    linear.x.has_acceleration_limits: true
    linear.x.has_jerk_limits: false # this needs to be set to "false" otherwse there are issues - robot won't accept commands
    linear.x.max_velocity: 0.02 # m/s
    # linear.x.min_velocity: -0.1 # m/s
    linear.x.max_acceleration: 0.02 # m/s^2
    linear.x.max_jerk: 0.0 # m/s^3
    linear.x.min_jerk: 0.0

    angular.z.has_velocity_limits: true
    angular.z.has_acceleration_limits: true
    angular.z.has_jerk_limits: false # this needs to be set to "false" otherwse there are issues - robot won't accept commands
    angular.z.max_velocity: 0.04 # rad/s
    # angular.z.min_velocity: -5.0
    angular.z.max_acceleration: 0.03 # rad/s^2
    angular.z.min_acceleration: -0.5 # rad/s^2
    angular.z.max_jerk: 0.0 # rad/s^3
    angular.z.min_jerk: 0.0 # rad/s^3