<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find ros2_ddsm115)/urdf/inertial_macros.xacro" />
  <xacro:include filename="$(find ros2_ddsm115)/urdf/materials.xacro" />
  <xacro:include filename="$(find ros2_ddsm115)/urdf/kartyb_description_diffdrive.urdf.xacro" />
  <xacro:include filename="$(find ros2_ddsm115)/urdf/kartyb_face.urdf.xacro" />

  <!-- <xacro:include filename="$(find ros2_ddsm115)/urdf/robot_demo.urdf.xacro" /> -->
  <xacro:include filename="$(find ros2_ddsm115)/urdf/lidar.xacro" />
  <!-- <xacro:include filename="$(find ros2_ddsm115)/urdf/camera.xacro" /> -->
  

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find ros2_ddsm115)/ros2_control/diffbot.ros2_control.xacro" />
  <!-- <xacro:include filename="$(find ros2_ddsm115)/ros2_control/gazebo.ros2_control.xacro" /> -->

  <xacro:diffbot prefix="$(arg prefix)" />

  <!-- <xacro:diffbot_ros2_control name="DiffBot" prefix="$(arg prefix)" use_mock_hardware="$(arg use_mock_hardware)"/> -->

</robot>
